@import "compass";
@import "theme_variables";

form#searchbox {
	@include rtl-float-right();
	margin: 0 auto;
    position: relative;
    text-align: center;
    width: 280px;
    height: 36px;
    background-color: $white;
	border: 1px solid $border-color;
	padding: 1px;
	@include border-radius(20px);
	label {
		color: $text-color;
	}
	.button.button-small {
		float:left;	
		i {
			margin-right:0;
		}
	}
	.btn {
		border: 2px solid #6B6A6A;
		background: black;
		@include border-radius(50%);
		padding: 5px 8px;
	}
}
#search_query_top {
	background-color: $white;
	display:inline-block;
	float:left;
	border: none;
	height:30px;
	@include rtl-border-radius-topleft(20px);
	@include rtl-border-radius-bottomleft(20px);
	@include box-shadow(none);
}